a {
	color: #1E5096;
	text-decoration: none;
}

body {
  color: #333333;
  background-color: rgb(80, 200, 240);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(80, 200, 240);
  display: flex;
}

.topnav {
  font-family: 'Capriola', sans-serif;
}

.topnav .marca {
  font-size: 22px;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumb {
  padding: 4px 15px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb li {
  display: inline;
  font-size: 14px;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb .active {
  color: #777;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

#contenedorTablero {
  width: 490px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#tablero {
  border: 5px solid #999999;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
	height:490px;
  margin-top: 30px;
}

.cuadradoBlanco {
  width: 60px;
  height: 60px;
  background-color: white;
  float: left;
}

.cuadradoNegro {
  width: 60px;
  height: 60px;
  background-color: black;
  float: left;
}

/* .cuadrado {
  width: 60px;
  height: 60px;
  float: left;
} */

/* .fila:nth-child(even){
  background-color: black;
}

.fila:nth-child(odd) .celda:nth-child(odd),
.board__row:nth-child(even) .row__tile:nth-child(even) {
  background-color: white;
}

.board__row:nth-child(even) .row__tile:nth-child(odd),
.board__row:nth-child(odd) .row__tile:nth-child(even) {
  background-color: var(--pure-black);
} */

.footer {
  padding: 19px 14px;
  margin-top: auto;
  border-top: 1px solid #CAC3C3;
  background-color: white;
}

.footer p {
	margin-bottom: 0;
	color: #777;
	padding: 11px;
	font-size: 12px;
}

#buttonContainer {
  text-align: center;
}

.text-center {
  text-align: center;
}

.gameButtons {
  border-radius: 12px;
	background: -moz-linear-gradient(center top , #57aeea, #3d94d1) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,center bottom,center top,from(#3d94d1),to(#57aeea));
	background-color:lightBlue;
	display:inline-block;
	font-size:21px;
	margin-top:20px;
	padding:10px 45px;
	vertical-align:middle;
	font-family:Arial;
	color:#fff;
	border:1px solid #84C5F3;
	text-shadow:0 0 3px #333333;
	cursor:pointer;
  box-shadow:0 0 8px 1px #888888 ;
}

#desc {
	margin: 20px 0 10px 20px;
	padding: 10px;
	border-radius: 4px;
	background: #efefef;
}

.fichaRoja {
  background-image: url(./img/PieceBlue.png);
}

.fichaBlanca {
  background-image: url(./img/PieceGreen.png);
}

.fichaRojaDama {
  background-image: url(./img/PieceBlueKing.png);
}

.fichaBlancaDama {
  background-image: url(./img/PieceGreenKing.png);
}

* {
  box-sizing: border-box;
}

.seleccionado {
  background-color:#074F7F;
	-moz-box-shadow:0 0 10px 7px #5AADE6;
	-webkit-box-shadow:0 0 10px 7px #5AADE6;
}

#turno {
  text-align: center;
  font-family: Arial Black;
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.notAllowed {
  background-image: url(./img/notAllowed.png);
}

.formContainer{
  width: 490px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.header{
  text-align: center;
  color: #D4707A;
}

table, th, td{
  border: 1px solid;
  padding: 8px;
}

.tablaPartidas{
  border-radius: 20px;
  width: 500px;
  margin: 0 auto;
}