a {
	color: #1E5096;
	text-decoration: none;
}

p {
	color: #1E5096;
	text-decoration: none;
}

body {
  color: #333333;
  background-color: #50c8f0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #50c8f0;
  display: flex;
}

.topnav {
  font-family: 'Capriola', sans-serif;
}

.topnav .marca {
  font-size: 22px;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumb {
  padding: 4px 15px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb li {
  display: inline;
  font-size: 14px;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: #000;
  content: "/\00a0";
}

.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb .active {
  color: #777;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

#contenedorTablero {
  width: 490px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#tablero {
  border: 5px solid #999999;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
	height:490px;
  margin-top: 30px;
}

.cuadradoBlanco {
  width: 60px;
  height: 60px;
  background-color: #fff;
  float: left;
}

.cuadradoNegro {
  width: 60px;
  height: 60px;
  background-color: #000;
  float: left;
}

.footer {
  padding: 19px 14px;
  margin-top: auto;
  border-top: 1px solid #CAC3C3;
  background-color: #fff;
}

.footer p {
	margin-bottom: 0;
	color: #777;
	padding: 11px;
	font-size: 12px;
}

#buttonContainer {
  text-align: center;
}

.text-center {
  text-align: center;
}

.buttons {
  border-radius: 12px;
  background: linear-gradient(#57aeea, #3d94d1);
	display:inline-block;
	font-size:21px;
	margin-top:20px;
	padding:10px 45px;
	vertical-align:middle;
	font-family:Arial;
	color:#fff;
	border:1px solid #84C5F3;
	text-shadow:0 0 3px #333333;
	cursor:pointer;
  box-shadow:0 0 8px 1px #888888 ;
}

#desc {
	margin: 20px 0 10px 20px;
	padding: 10px;
	border-radius: 4px;
	background: #efefef;
}

.fichaRoja {
  cursor:pointer;
  background-image: url(../img/PieceBlue.png);
}

.fichaBlanca {
  cursor:pointer;
  background-image: url(../img/PieceGreen.png);
}

.fichaRojaDama {
  cursor:pointer;
  background-image: url(../img/PieceBlueKing.png);
}

.fichaBlancaDama {
  cursor:pointer;
  background-image: url(../img/PieceGreenKing.png);
}

* {
  box-sizing: border-box;
}

.seleccionado {
  background-color:#074F7F;
	-moz-box-shadow:0 0 10px 7px #5AADE6;
	-webkit-box-shadow:0 0 10px 7px #5AADE6;
}

#turno {
  text-align: center;
  font-family: Arial #000;
  font-weight: bold;
  font-size: 30px;
  color: #1574CE;
}

.notAllowed {
  background-image: url(../img/notAllowed.png);
}

.formContainer{
  width: 490px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.header{
  text-align: center;
  color: #1574CE;
}

th, td{
  border: 1px solid;
  padding: 8px;
}

thead {
  background: #6fc3dd;
}

tbody {
  background: #c0dce7;
}

.tablaPartidas{
  border-radius: 20px;
  width: 500px;
  margin: 0 auto;
}

#linkTablero {
  cursor: pointer;
}

#sortFecha {
  cursor: pointer;
}

#sortPuntajeJug1 {
  cursor: pointer;
}

#sortPuntajeJug2 {
  cursor: pointer;
}

.esValido {
  border: 4px solid #f00;
}

.esInvalido {
  border: 3px solid #0c0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

